# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\aldov\Desktop\Cursos Primer Semestre 2022\Laboratorio Introuducción a la Programación y Computación 1\Prácticas\Práctica 2\IPC1-Practica2_202109754\Práctica 2\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
